<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- 모든 요청을 public 폴더로 리라이트 -->
                <rule name="Rewrite to public folder">
                    <match url=".*" />
                    <action type="Rewrite" url="public/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
